.header{
    background-color: $color-mine-shaft;
    color: $color-white;
    
}
.header__top{
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem solid $color-mercury;
    padding: 1.5rem;

}
.header__name{
    font-size: 2rem;
    display: inline-block;
}
.rbcf-menu{
    font-size: 2.5rem;
}