doctype html
html
    block awesome-config
    head
        title this is fun
        meta(name="description",content="description")
        meta(name="robots",content="noindex")
        link(rel="canonical", href="https://robertoblake.com/")
        link(rel="stylesheet", href="/style.css")
    body
        block awesome-block
        h1=title