.footer
    .footer__social
        h2 Let's Connect
        p Feel free to reach out me
        p
            a(href="tel:+1-310-409-5408") P:310.409.5408
        p
            a(href="mailto:rblake@robertoblake.com") rblake@robertoblake.com
        ul
            each social,key in data.footer
                li.social__item
                    a.social__icon(href=social.href ,title=social.label)
                    p.footer-description=social.description
                    

    p Copyright &copy; #{new Date().getFullYear()} All Rights Reserved.
    p
        a.footer-link(href="/") Roberto Blake