extends _component/layout/layout
block awesome-config
    -
        let title=` Roberto Blake replica`
        let description=` This will be a imporved version of Roberto's Blake site`
block awesome-block
    .header__wrapper
        h1 Entrepreneur, Author & Speaker
        .header__body
        
        h2 Download my free E-book on Personal Branding!
    p this is the landing page