extends _component/layout/layout
block awesome-config
    -
        let title=` Roberto Blake replica`
        let description=` This will be a imporved version of Roberto's Blake site`
block awesome-block
   p this is the landing page